
<head>
  @@include('partials/meta_tags.html')
  @@include('partials/ico_touch_icons.html')
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <title>{% if page.title %}{{ page.title | | remove:'\' }} | {{ site.title }} {% else %}{{ site.title }} | {{site.tagLine}}{% endif %}</title>
  <style>
    {% if page.heroArt %}.hero-art{background-image: url('/siteart/pl_hero_{{page.heroArt}}.jpg');}@media screen and (max-width: 46.875em) {.hero-art {background-image: url('/siteart/pl_hero_small_{{page.heroArt}}.jpg');}}{% endif %}
    {% if page.pagetype == "index" %}
      {% include index_embeded_styles.css %}
    {% elsif page.pagetype == "blog" or page.pagetype == "blog-entry" %}
      {% include blog_embedded_styles.css %}
    {% endif %}
    {% include main_embedded_styles.css %}

  </style>
<noscript>
  <link rel="stylesheet" type="text/css" href="/css/cachebustthiscss">
  <link rel="stylesheet" type="text/css" href="/fonts/fontsWoff_r2.css">
  <style>
    {% if page.heroArt %}.hero-art{background-image: url('/siteart/hero_{{page.heroArt}}.jpg');}@media screen and (max-width: 46.875em) {.hero-art {background-image: url('/siteart/sm_hero_{{page.heroArt}}.jpg');}}{% endif %}
  </style>
</noscript>
  {% assign pageType = page.pagetype %}
    {% if pageType == 'searchAdmin' or pageType == 'search' %}
      <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    {% endif%}
  @@include('partials/style.html')
  @@include('partials/js_embeds.html')
  @@include('partials/noscript.html')
</head>
