
<head>
  @@include('partials/mt_meta_tags.html')
  <title>{% if page.title %}{{ page.title | | remove:'\' }} | {{ site.title }} {% else %}{{ site.title }} | {{site.tagLine}}{% endif %}</title>
  <style>
    {% if page.heroArt %}.hero-art{background-image: url('/siteart/pl_hero_{{page.heroArt}}.jpg');}@media screen and (max-width: 46.875em) {.hero-art {background-image: url('/siteart/pl_hero_small_{{page.heroArt}}.jpg');}}{% endif %}
    {% if page.pagetype == "index" %}
      {% include index_embeded_styles.css %}
    {% elsif page.pagetype == "blog" or page.pagetype == "blog-entry" %}
      {% include blog_embedded_styles.css %}
    {% endif %}
    {% include main_embedded_styles.css %}
  </style>
<noscript>
  <link rel="stylesheet" type="text/css" href="/css/cachebustthiscss">
  <link rel="stylesheet" type="text/css" href="/fonts/fontsWoff_r2.css">
  <style>
    {% if page.heroArt %}.hero-art{background-image: url('/siteart/hero_{{page.heroArt}}.jpg');}@media screen and (max-width: 46.875em) {.hero-art {background-image: url('/siteart/sm_hero_{{page.heroArt}}.jpg');}}{% endif %}
  </style>
</noscript>
</head>
