<head>
<!-- head changed -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }} {% else %}{{ site.title }} | {{site.tagLine}}{% endif %}</title>
  @@include('partials/mt_meta_tags.html')
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <style>
    @@include('../inline_css/main_embedded_styles.css')
    @@include('../inline_css/index_embeded_styles.css')
    {% if page.pageType %}
      {% assign pagetype = page.pageType %}
    {% endif %}
    {% if pagetype == "blog-entry" %}
      @@include('../inline_css/blog_embedded_styles.css')
    {% endif %}
    {% if page.heroArt %}
    /*testing*/
    .hero-art{background-image: url('/siteart/hero_{{page.heroArt}}.jpg');}@media screen and (max-width: 46.875em) {.hero-art {background-image: url('/siteart/sm_hero_{{page.heroArt}}.jpg');}}
    {% endif %}
  </style>
  @@include('partials/mt_css_links.html')
  @@include('partials/mt_fonts_links.html')

<!-- <link rel="stylesheet" type="text/css" href="http://www.davidputney.com/css/styles.css"> -->
</head>
