<ul id="footer-links" class="footer-links footer-links-active">
	<li class="mail-link will-change-ot"><span class="hidden">email me</span>
	<span id="email-link" class="svg-container" aria-hidden="true">
	<svg class="footer-icon">
      <use xlink:href="#mail" />
    </svg>
	</span>
	</li>

	<li class="linked-in-link will-change-ot"><span class="hidden">my linked-in</span>
	<span id="linked-in" class="svg-container" aria-hidden="true">
		<svg class="footer-icon">
      <use xlink:href="#linkedin-in" />
    </svg>
	</span>
	</li>

	<!-- <li class="facebook-link will-change-ot">
	<span class="hidden">my facebook account</span>
	<span id="facebook-link" class="svg-container" aria-hidden="true">
		<svg class="footer-icon">
      <use xlink:href="#facebook" />
    </svg>
	</span>
	</li> -->

	<li class="github-link will-change-ot">
	<span class="hidden">my github account</span>
	<a href="https://github.com/putneydm" target="_blank" >
		<span id="github-link" class="svg-container" aria-hidden="true">
		<svg class="footer-icon">
      <use xlink:href="#github" />
    </svg>
	</span>
	</a>
	</li>
</ul>
