dist/*
!dist/firebase.json
test/*
!test/_config.yml
!test/_posts
source/scripts/vendor/
src/scripts/bower_components/
src/photos_out/
src/inline_css/
src/photos_in/
node_modules/
src/sass/bourbon/
bower_components/
npm-debug.log
