---
layout: index_layout
title: David Putney
tagLine: This is my site
heroArt: index
pagetype: index
description: "I'm David Putney, a web designer and developer living in the Boston, Mass. area. I specialize in UI/UX, and designing and building media and content-driven websites."
keywords: ["one", "two"]
---

<section class="teaser-module-container">
    @@include('partials/mt_blog_module.html')
</section>

<section class="teaser-module-container">
  	<h2 class="section-header-index"><a href="archive/design.html" rel="next">Design</a></h2>
  	<p class="page-subhead">Portfolio of professional sites I designed or developed.</p>
    {% assign postType = site.categories.design %}
    @@include('partials/mt_front_page_teaser.html')
</section>

<section class="teaser-module-container">
  <h2 class="section-header-index"><a href="archive/design.html" rel="next">Projects</a></h2>
  <p class="page-subhead">Portfolio of professional sites I designed or developed.</p>
  {% assign postType = site.categories.projects] %}
  @@include('partials/mt_front_page_teaser.html')
</section>
