<div class="about-container">
<section class="about-section">
<h2 class="section-header-index">This is me</h2>
<mt:entries category="about/subcategory">
	<article class="about-information">
		<figure class="about-mugshot">
			<img src="../siteart/about_mugshot.jpg" alt="David M. Putney mugshot">
		</figure>
	<mt:entrybody smarty_pants = '1'>
	</article>
</mt:entries>
</section>
<section class="about-section">
<h2 class="section-header-index">This is my site</h2>
<mt:entries category="about/subcategorytoo">
		<article class="about-information">
		<mt:entrybody smarty_pants = '1'>
		</article>
</mt:entries>
</section>
</div>
