<a href="#page-top" id="scroll-to-top" class="scroll-to-top">
	<span class="svg-container" aria-hidden="true">
	<svg class="scroll-up-icon">
      <use xlink:href="#up-arrow" />
    </svg>
    </span>
</a>
<footer id="site-footer" class="site-footer">
<ul id="footer-nav" class="footer-navigation-menu clearfix">
	<$mt:Include module="nav_links"$>
</ul>
<ul class="footer-links footer-links-active">
	<li class="mail-link"><span class="hidden">email me</span>
	<span id="email-link" class="svg-container" aria-hidden="true">
	<svg class="footer-icon">
      <use xlink:href="#mail" />
    </svg>
	</span>
	</li>

	<li class="twitter-link"><span class="hidden">my twitter account</span>
	<span id="twitter-link" class="svg-container" aria-hidden="true">
		<svg class="footer-icon">
      <use xlink:href="#twitter" />
    </svg>
	</span>
	</li>

	<li class="facebook-link">
	<span class="hidden">my facebook account</span>
	<span class="svg-container" aria-hidden="true" id="facebook-link">
	<span id="facebook-link" class="svg-container" aria-hidden="true">
		<svg class="footer-icon">
      <use xlink:href="#facebook" />
    </svg>
	</span>
	</li>

	<li class="github-link">
	<span class="hidden">my github account</span>
	<a href="https://github.com/putneydm" target="_blank" >
	<span class="svg-container" aria-hidden="true">
		<span id="github-link" class="svg-container" aria-hidden="true">
		<svg class="footer-icon">
      <use xlink:href="#github" />
    </svg>
	</span>
	</a>
	</li>
</ul>
<p class="footer-tagline">This is the personal website of David M. Putney. It is not affiliated with any current or former employers.</p>
<p class="footer-tagline">&#169; Copyright <mt:Date format="%Y">, David M. Putney <p>
</footer>
