<nav id="inside-header" class="inside-header">
	<div class="secondary-navigation-container">
	
	<p class="secondary-header-nameplate" itemscope itemtype="http://data-vocabulary.org/Person"><a href="<mtBlogURL>" rel="nofollow"><span itemprop="name">David Putney</span> <span class="hidden" itemprop="title">Web designer and developer</span></a></p>
<a href="#footer-nav" rel="nofollow" id="menu-button" class="btn-menu">
		<span class="btn-menu-label btn-text">menu</span>
		<span aria-hidden="true">
			<svg width="32" height="20" class="btn-menu-label btn-icon">
			  <use x="12" y="8" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close-box"></use>
			</svg>
		</span>	
    </a>	
	<ul id="nav-start" class="secondary-navigation-menu clearfix">
     <$mt:Include module="nav_links"$>
	</ul>
     <div class="scroll-progress-wrapper">
		<div id="scroll-progress" class="scroll-progress"></div>	
	</div>
	</div>
</nav>