<!DOCTYPE html>
<html class="no-js">
<head>
<title>Davidputney.com | Search results</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> 
<meta charset="utf-8">

<!-- @import "modules/head/meta.html" -->  
 


 
<style rel="stylesheet" type="text/css" media="all">
<$mt:Include module="embedded_CSS_main"$>
</style> 

<link href="css/styles.css" rel="stylesheet" type="text/css" media="all" /> 

<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie_styles.css" />
<![endif]-->

<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie_styles.css" />
<![endif]-->

<link href="<mt:BlogURL>css/styles.css" rel="stylesheet" type="text/css" media="all" /> 
<$mt:Include module="fonts_links"$>

</head>

<body>
	<div class="svg-import" aria-hidden="true">
		<$mt:Include module="svg_icons"$>
	</div>

<!-- @import "modules/head/skip_links.html" --> 

<$mt:Include module="inside_page_header"$>

<main id="main">

<div class="blog-container search-results"> 


<h1 class="search-results-header"><$mt:ArchiveTitle$> Archives</h1>

<mt:entries category="blog entry">
<article class="search-results-entry">
<h2 class="blog-headline"><a href="<mt:entrypermalink>" rel="next"><mt:EntryTitle smarty_pants="1"></a></h2>
    <p class="blog-entry-date"><mt:EntryDate format="%A, %b %e, %Y"></p>

<div class="blog-entry-text">
<p><mt:EntryBody convert_breaks="0" words="65" smarty_pants="1">&nbsp;&#133;&nbsp;<a href="<$mt:EntryLink$>" rel="next" class="search-results-link">More</a></p>
</div>
</article>

</mt:entries>

<ul class="content-nav">
<li><mt:ArchivePrevious><a href="<$mt:ArchiveLink$>" rel="prev"> <$mt:ArchiveTitle$></a></mt:ArchivePrevious></li>
<li><mt:ArchiveNext><a href="<$mt:ArchiveLink$>" rel="next"><$mt:ArchiveTitle$></a></mt:ArchiveNext></li>
</ul>


</div> 
</main>

<$mt:Include module="footer"$>
</body>

 <$mt:Include module="js_links"$>

</html>