<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta property="og:url" content="<$mt:Var name="og_url"$>" />
	<meta property="og:title" content="<$mt:Var name="og_title"$>" />
	<meta property="og:type" content="article" />
<meta property="og:image" content="<$mt:Var name="og_image"$>" />
	<meta property="og:description" content="<$mt:Var name="og_description"$>" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="putneydm" />
	<meta property="article:publisher" content="https://www.facebook.com/david.putney" />	
<meta name="description" itemprop="description" content="<$mt:Var name="og_description"$>" />
<meta name="keywords" itemprop="keywords" content="<$mt:Var name="og_keywords"$> David Putney, design, web design, internet design, web sites, CSS, HTML, jQuery" />
<link rel="canonical" href="<$mt:Var name="og_url"$>" />
<meta name="news_keywords" content="David Putney, design, web design, internet design, web sites, CSS, HTML, jQuery" />
<meta name="geo.placename" content="Boston, Massachusetts">
<meta name="author" content="David Putney">
<link rel="shortcut icon" href="http://www.davidputney.com/favicon.ico" />
