<div id="inside-header" class="nav-fixed-bar">
    <p class="nav-site-logo" itemscope itemtype="http://data-vocabulary.org/Person"><a href="<mtBlogURL>" rel="nofollow"><span itemprop="name">David Putney</a></span></p>
  <ul id="nav-menu" class="nav-list">
       <$mt:Include module="nav_links"$>
  </ul>
<div id="menu-button" class="nav-menu-button">
  <span aria-hidden="true">
    <svg class="nav-menu-button-icn nav-menu-button-icn--open">
      <use xlink:href="#chevron-up" />
    </svg>
  </span>
  <a rel="nofollow" href="#footer-nav">MENU</a>
  <span aria-hidden="true">
    <svg class="nav-menu-button-icn nav-menu-button-icn--closed">
      <use xlink:href="#chevron-down" />
    </svg>
  </span>
</div>
  <div class="scroll-progress-wrapper">
    <div id="scroll-progress" class="scroll-progress"></div>
  </div>
</div>
