<!DOCTYPE html>
<html class="no-js">
<head>
<title>David Putney | <mt:PageDataCategory> <mt:If tag="PageDataCategory" eq="Design">
portfolio</mt:if><mt:If tag="PageDataCategory" eq="Projects">
portfolio</mt:if>

<mt:If tag="PageDataCategory" eq="Projects">
<$mt:Var name="og_url" value="www.davidputney.com/archive/projects.html"$>
</mt:if></title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta charset="utf-8">
<link rel="shortcut icon" href="http://www.davidputney.com/favicon.ico" />

<!-- meta tags  -->

<mt:PageDataHeader smarty_pants="0" setvar="og_title"$>

<mt:If tag="PageDataCategory" eq="Blog">
<$mt:Var name="og_url" value="www.davidputney.com/blog/"$>
<$mt:Var name="og_description" value="An occasional blog about design and creativity and other topics written by David Putney, a web UI/UX designer and developer living in Boston."$>
</mt:if>

<mt:If tag="PageDataCategory" eq="about">
<$mt:Var name="og_url" value="www.davidputney.com/about/"$>
<$mt:Var name="og_description" value="Resume and work experience for David Putney, a web UI/UX designer and developer living in Boston. His work includes Crux.com, RadioBDC, BDCwire.com and other websites."$>
</mt:if>

<mt:If tag="PageDataCategory" eq="Design">
<$mt:Var name="og_url" value="www.davidputney.com/archive/design.html"$>
<$mt:Var name="og_description" value="Professional UI/UX web design and development portfolio for David Putney that includes samples of work from Crux, RadioBDC, BDCwire and other websites."$>
</mt:if>

<mt:If tag="PageDataCategory" eq="Projects">
<$mt:Var name="og_url" value="www.davidputney.com/archive/projects.html"$>
<$mt:Var name="og_description" value="Portfolio of web design and development, hackathon projects or side projects by David Putney, a web UI/UX designer and developer."$>

</mt:if>

<$mt:Var name="og_keywords" value="David Putney, design, portfolio, web development, front-end developer, web design, mobile first, responsive design, HTML, CSS, jQuery"$>

<$mt:PageDataHero_art setvar="og_image">
<$mt:Var name="og_image" value="http://www.davidputney.com/siteart/sm_hero_" prepend="1"$>
<$mt:Var name="og_image" value=".jpg" append="1"$>

<$mt:Include module="meta_tags"$>

<mt:If tag="PageDataHero_art">
<$mt:PageDataHero_art setvar="hero_art"$>
</mt:If>

<mt:If tag="PageDataCategory">
<$mt:PageDataCategory setvar="page_category"$>
</mt:If>

<style rel="stylesheet" type="text/css" media="all">
<$mt:Include module="embedded_CSS_main"$>
<mt:If tag="PageDataCategory" eq="Blog">
<$mt:Include module="blog_embedded_styles"$>
</mt:if>
</style>
<noscript>
<style>
.hero-art-portfolio{background-image: url('<$mt:BlogURL$>siteart/hero_<$mt:Var name="hero_art"$>.jpg');}@media screen and (max-width: 46.875em) {.hero-art-portfolio {background-image: url('<$mt:BlogURL$>siteart/sm_hero_<$mt:Var name="hero_art"$>.jpg');}}
</style>
</noscript>
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie_styles.css" />
<![endif]-->

<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie_styles.css" />
<![endif]-->

<$mt:Include module="fonts_links"$>
<$mt:Include module="css_links"$>

</head>
<body data-pagetype="section-page">
	<div class="svg-import hidden" aria-hidden="true">
		<$mt:Include module="svg_icons"$>
	</div>
<ul class="hidden">
<li><a href="#nav-start">Skip to navigation</a></li>
<li><a href="#main">Skip to content</a></li>
</ul>
<header class="small-billboard">
	<$mt:Include module="page_header"$>
<div id="hero-image" class="hero-art backgound-set  filter-me" data-image="<$mt:Var name="hero_art"$>">
	<svg class="hero-art-curve">
			<use xlink:href="#inside_page_mask" />
		</svg>
	</span>
</div>
</header>
<main id="main">
<mt:If tag="PageDataCategory" ne="about">
<header class="portfolio-introduction-container">
<h1 class="portfolio-project-name"><mt:PageDataHeader smarty_pants="1"></h1>
<h2 class="page-subhead"><mt:PageDataPage_subhead smarty_pants="1"></h2>
</header>
</mt:if>

<mt:If name="page_category" eq="about">
<$mt:Include module="about_module"$>
</mt:if>

<mt:If name="page_category" eq="Blog">
<$mt:Include module="blog_module"$>
<$mt:Include module="footnote_return"$>
</mt:if>

<mt:If name="page_category" eq="Design">
<div class="teaser-module-container">
<mt:entries category="Design">
<mt:If tag="EntryDataType" eq="header">
<$mt:Include module="front_page_teaser"$>
</mt:if>
</mt:Entries>
</div>
</mt:if>


<mt:If name="page_category" eq="Projects">
<div class="teaser-module-container">
<mt:entries category="Projects">
<mt:If tag="EntryDataType" eq="header">
<$mt:Include module="front_page_teaser"$>
</mt:if>
</mt:Entries>
</div>
</mt:if>


</main>

<$mt:Include module="footer"$>
</body>
 <$mt:Include module="js_links"$>
</html>
