<div class="resume_container">

<$mt:Include module="resume_list"$> 

<section class="resume-section clearfix">
<h1 class="resume-section-header"><span>~ </span>The Boston Globe<span> ~</span> </h1>
<mt:entries category="about/subcategory">
<ul class="resume-details">
<li>
		<article class="resume-information">
		<h3 class="resume-subheader"><mt:entrytitle></h3>
		<p> <mt:entrybody> </p>
		</article>	
	</li>
</mt:entries>
</ul>
</section>

<section class="resume-section clearfix">
<h1 class="resume-section-header"><span>~ </span>The Virginian-Pilot<span> ~</span> </h1>
<mt:entries category="about/subcategorytoo">
<ul class="resume-details">
<li>
		<article class="resume-information">
		<h3 class="resume-subheader"><mt:entrytitle></h3>
		<p> <mt:entrybody> </p>
		</article>	
	</li>
</mt:entries>
</ul>
</section>
</div> 