<nav id="inside-header" class="inside-header secondary-header">
	<!-- secondary header -->
	<div class="secondary-navigation-container">
	
	<h1 class="secondary-header-nameplate"><a href="<mtBlogURL>" rel="nofollow">David Putney</a></h1>
<a href="#footer-nav" rel="nofollow" id="menu-button" class="btn-menu">
		<span class="btn-menu-label btn-text">menu</span>
		<span aria-hidden="true">
			<svg width="32" height="20" class="btn-menu-label btn-icon">
			  <use x="12" y="8" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close-box"></use>
			</svg>
		</span>	
    </a>	
	<ul id="nav-start" class="secondary-navigation-menu clearfix">
 <$mt:Include module="nav_links"$>
	</ul>

	</div>
<!-- <div class="scroll-progress-wrapper">
		<div id="scroll-progress" class="scroll-progress"></div>	
	</div> -->
</nav>