<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>http://www.davidputney.com/</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>  
  <url>
    <loc>http://www.davidputney.com/archive/projects.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>    
<url>
    <loc>http://www.davidputney.com/archive/design.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>  
  
 <url>
    <loc>http://www.davidputney.com/blog/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Daily</changefreq>
  </url>    
 <url>
    <loc>http://www.davidputney.com/about/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>    
  
  <url>
    <loc>http://www.davidputney.com/design/bdcwire/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>
  <url>
    <loc>http://www.davidputney.com/design/crux/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>
  <url>
    <loc>http://www.davidputney.com/Projects/foodofanation/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>
  <url>
    <loc>http://www.davidputney.com/design/link/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>
  <url>
    <loc>http://www.davidputney.com/Projects/mithackathon/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>
  <url>
    <loc>http://www.davidputney.com/design/radiobdc/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>
  <url>
    <loc>http://www.davidputney.com/Projects/shirtify/index.html</loc>
    <lastmod>2014-11-14</lastmod>
    <changefreq>Weekly</changefreq>
  </url>
<mt:Entries category="blog entry">
  <url>
    <loc><mtEntryPermalink></loc>
    <lastmod><mtEntryModifiedDate format="%Y-%m-%e"></lastmod>
    <changefreq>Daily</changefreq>
  </url></mt:Entries>
</urlset>
<!--<guid value="ade83dc0-df09-44d0-8fc4-9bde28ea2c06" />-->
