 <mt:If tag="EntryDataType" eq="one large">
            <$mt:Include module="one_large"$>
       </mt:If>

      <mt:If tag="EntryDataType" eq="one big two small">
            <$mt:Include module="one_big_two_small"$>
       </mt:If>

      <mt:If tag="EntryDataType" eq="three round">
            <$mt:Include module="three_round"$>
       </mt:If>

      <mt:If tag="EntryDataType" eq="three small">
            <$mt:Include module="three_small"$>
       </mt:If>

      <mt:If tag="EntryDataType" eq="sidesaddle">
      <$mt:Include module="sidesaddle"$>
       </mt:If>

<mt:If tag="EntryDataType" eq="sidesaddle_large">
      <$mt:Include module="sidesaddle_large"$>
       </mt:If>


      <mt:If tag="EntryDataType" eq="parallax">
      <$mt:Include module="parallax"$>
       </mt:If>

      <mt:If tag="EntryDataType" eq="video">
      <$mt:Include module="video_embed"$>
       </mt:If>