<article class="big-image-module">
		<header>
		<h2 class="section-header"><span>~</span> <mt:EntryTitle smarty_pants="1"><span>~</span></h2>
		
		</header>
		
			<div class="big-image-module-text-block">
<mt:EntryBody smarty_pants="1">
            </div>

<mt:If tag="EntryDataImage_one">      
<$mt:EntryDataImage_one setvar="image_one"$>             
 </mt:If> 
    
<mt:If tag="EntryDataImage_two">      
<$mt:EntryDataImage_two setvar="image_two"$>             
</mt:If>   
    
<mt:If tag="EntryDataImage_three">      
<$mt:EntryDataImage_three setvar="image_three"$>             
</mt:If> 
                

<$mt:EntryDataSlideshow setvar="value"$>              

<mt:If name="value" eq="1">

			<div class="big-image-module-image-container clearfix">


<div class="slideshow big-image-module-three-across med-photo-overlay" id="slideshow_1">
	 <figure class="slideshow-image">
		<img src="<$mt:BlogURL$>siteart/slide_one_<$mt:Var name="image_one"$>.jpg" alt="" class="slide-one"/> 
    </figure>
	 <figure class="slideshow-image">
		<img src="<$mt:BlogURL$>siteart/slide_two_<$mt:Var name="image_one"$>.jpg" alt="" class="slide-two"/>
    </figure>
</div>    

<div class="slideshow big-image-module-three-across med-photo-overlay" id="slideshow_2">
	 <figure class="slideshow-image">
		<img src="<$mt:BlogURL$>siteart/slide_one_<$mt:Var name="image_two"$>.jpg" alt="" class="slide-one"/> 
    </figure>
	 <figure class="slideshow-image">
		<img src="<$mt:BlogURL$>siteart/slide_two_<$mt:Var name="image_two"$>.jpg" alt="" class="slide-two"/>
    </figure>
</div> 

<div class="slideshow big-image-module-three-across med-photo-overlay" id="slideshow_3">
	 <figure class="slideshow-image">
		<img src="<$mt:BlogURL$>siteart/slide_one_<$mt:Var name="image_three"$>.jpg" alt="" class="slide-one"/> 
    </figure>
	 <figure class="slideshow-image">
		<img src="<$mt:BlogURL$>siteart/slide_two_<$mt:Var name="image_three"$>.jpg" alt="" class="slide-two"/>
    </figure>
</div>  

<!--

			<figure class="big-image-module-three-across slideshow">
				<div class="med-photo-overlay"></div>
				<div class="slide-container" id="slideshow_1">
				<div>
				<img src="<$mt:BlogURL$>siteart/slide_one_<$mt:Var name="image_one"$>.jpg" alt="" class="slide-one"/>
				</div>
				<div>
				<img src="<$mt:BlogURL$>siteart/slide_two_<$mt:Var name="image_one"$>.jpg" alt="" class="slide-two"/></div>
				</div>
			</figure>

			<figure class="big-image-module-three-across slideshow">
				<div class="med-photo-overlay"></div>
				<div class="slide-container" id="slideshow_2">
				<div>
				<img src="<$mt:BlogURL$>siteart/slide_one_<$mt:Var name="image_two"$>.jpg" alt="" class="slide-one"/>
				</div>
				<div>
				<img src="<$mt:BlogURL$>siteart/slide_two_<$mt:Var name="image_two"$>.jpg" alt="" class="slide-two"/></div>
				</div>
			</figure>
			
			<figure class="big-image-module-three-across slideshow">
				<div class="med-photo-overlay"></div>
				<div class="slide-container" id="slideshow_3">
				<div>
				<img src="<$mt:BlogURL$>siteart/slide_one_<$mt:Var name="image_three"$>.jpg" alt="" class="slide-one"/>
				</div>
				<div>
				<img src="<$mt:BlogURL$>siteart/slide_two_<$mt:Var name="image_three"$>.jpg" alt="" class="slide-two"/></div>
				</div>
			</figure>			
			
			</div>
			
			-->
</mt:if>

<mt:If name="value" ne="1">

<div class="big-image-module-image-container clearfix">

			<figure class="big-image-module-three-across">
				<div class="med-photo-overlay"></div>
			<picture>
            <source srcset="<$mt:BlogURL$>siteart/xsmall_<$mt:Var name="image_one"$>.jpg" media="(min-width: 650px)">
					<source srcset="<$mt:BlogURL$>siteart/large_<$mt:Var name="image_one"$>.jpg" media="(min-width: 530px)">			  
				  	<source srcset="<$mt:BlogURL$>siteart/med_<$mt:Var name="image_one"$>.jpg" media="(min-width: 350px)">
					<source srcset="<$mt:BlogURL$>siteart/xsmall_<$mt:Var name="image_one"$>.jpg">
					<img src="<$mt:BlogURL$>siteart/medium_<$mt:Var name="image_one"$>.jpg" class="lazyload" alt="">				  
			</picture>
	
			</figure>

			<figure class="big-image-module-three-across">
				<div class="med-photo-overlay"></div>
				<picture>
		<source srcset="<$mt:BlogURL$>siteart/xsmall_<$mt:Var name="image_two"$>.jpg" media="(min-width: 650px)">
					<source srcset="<$mt:BlogURL$>siteart/large_<$mt:Var name="image_two"$>.jpg" media="(min-width: 530px)">			  
				  	<source srcset="<$mt:BlogURL$>siteart/med_<$mt:Var name="image_two"$>.jpg" media="(min-width: 350px)">
					<source srcset="<$mt:BlogURL$>siteart/xsmall_<$mt:Var name="image_two"$>.jpg">
					<img src="<$mt:BlogURL$>siteart/medium_<$mt:Var name="image_two"$>.jpg" class="lazyload" alt="">			
				</picture>	
			</figure>
			
			<figure class="big-image-module-three-across">
				<div class="med-photo-overlay"></div>
				<picture>
<source srcset="<$mt:BlogURL$>siteart/xsmall_<$mt:Var name="image_three"$>.jpg" media="(min-width: 650px)">
					<source srcset="<$mt:BlogURL$>siteart/large_<$mt:Var name="image_three"$>.jpg" media="(min-width: 530px)">			  
				  	<source srcset="<$mt:BlogURL$>siteart/med_<$mt:Var name="image_three"$>.jpg" media="(min-width: 350px)">
					<source srcset="<$mt:BlogURL$>siteart/xsmall_<$mt:Var name="image_three"$>.jpg">
					<img src="<$mt:BlogURL$>siteart/medium_<$mt:Var name="image_three"$>.jpg" class="lazyload" alt="">			
				</picture>		
			</figure>			
			
			</div>

</mt:if>
				
		</article>		