{% assign pageType = page.pagetype %}
<script src="/scripts/*cachebustthis*"></script>
{% if pageType == 'searchAdmin' %}
<script src="/scripts/*cachebustadmin*"></script>
{% endif%}
{% if pageType == 'search' %}
<script src="/scripts/*cachebustsearch*"></script>
{% endif%}
<script>
(function() {
  "use strict";
  ready(function() {
  pageFunctions.intialize();
    {% if pageType == 'blog' or pageType == 'blog-entry' %}
      pageFunctions.intializeBlogEntry();
    {% endif%}
    {% if pageType == 'blog' %}
      pageFunctions.intializeBlog();
    {% endif%}
    {% if pageType == 'index' %}
      pageFunctions.initializeIndex();
    {% endif%}
    {% if pageType == 'portfolio_entry' or pageType == 'about' %}
      pageFunctions.initializePortfolio();
    {% endif%}
    {% if pageType == 'searchAdmin' %}
      searchAdminFunctions.initialize();
      pageFunctions.intializeMinimal();
    {% endif%}
    {% if pageType == 'search' %}
      searchFunctions.initialize();
      // pageFunctions.intializeSearch();
      {% endif%}
    {% if pageType == 'error' %}
      pageFunctions.intializeMinimal();
    {% endif%}
    // this is a hack to make the tag archive page work. For some reason pagetype doesn't work on this page.
    {% if pageType == nil %}
      pageFunctions.intializeMinimal();
    {% endif%}
    // this is a hack to make the tag archive page work. For some reason pagetype doesn't work on this page.
    {% if pageType == nil %}
      pageFunctions.intializeMinimal();
    {% endif%}
  });
})();
</script>
