<!--  scripts -->
{% assign pageType = page.pagetype %}
<script src="/scripts/*cachebustthis*"></script>
<script>
(function() {
  "use strict";
  pageFunctions.intialize();
  {% if pageType == 'blog' %}
    pageFunctions.intializeBlog();
  {% endif%}
  {% if pageType == 'blog-entry' %}
    pageFunctions.intializeBlogEntry();
  {% endif%}
  {% if pageType == 'index' %}
    pageFunctions.initializeIndex();
  {% endif%}
  {% if pageType == 'portfolio_entry' %}
    pageFunctions.initializePortfolio();
  {% endif%}
  {% if pageType == 'about' %}
    pageFunctions.initializePortfolio();
  {% endif%}

})();
</script>
