---
title: "Blog"
layout: page_layout
heroArt: star_trek_discovery
pagetype: blog
head: As I was saying ...
subhead: A blog about stuff. Updated as need merits.
description: I'm David Putney, and this is my blog. I write here about topics of interest to me. It's updated as need merits.
keywords: [blog, writing, technology, movies, music, culture]
---

<div id="blog-container" class="blog-container">

{% for post in paginator.posts %}
<article class="blog-entry" data-status="none">
    @@include('../../layouts/partials/blog_components/blog_image_test.html')

  	<h1 class="blog-headline"><a href="{{post.url}}">{% if post.altTitle %}{{ post.altTitle | markdownify | strip_html }} {% else %} {{ post.title | markdownify | strip_html }}{% endif%}</a></h1>
    <p class="blog-entry-date">{{ post.date | date: "%A, %B %-d, %Y" }}</p>

    {% assign readCalc =  post.content | number_of_words | divided_by: 180 | round %}

    {% if readCalc == 0 %}
      {% assign readTime = "Less than one" %}
    {% elsif readCalc == 1 %}
      {% assign readTime = "One" %}
    {% elsif readCalc == 2 %}
      {% assign readTime = "Two" %}
    {% elsif readCalc == 3 %}
      {% assign readTime = "Three" %}
    {% elsif readCalc == 4 %}
      {% assign readTime = "Four" %}
    {% elsif readCalc == 5 %}
      {% assign readTime = "Five" %}
    {% elsif readCalc == 6 %}
        {% assign readTime = "Six" %}
    {% elsif readCalc == 7 %}
      {% assign readTime = "Seven" %}
    {% elsif readCalc == 8 %}
      {% assign readTime = "Eight" %}
    {% elsif readCalc == 9 %}
      {% assign readTime = "Nine" %}
    {% else %}
      {% assign readTime = readCalc %}
    {% endif %}

  <p class="blog-read-time">{{ readTime }}-minute read</p>

  <div class="blog-entry-text">
      {{ post.content }}
  </div>
  <footer class="blog-entry-footer">
  	<ul class="blog-tags">
      {% for tag in post.tags %}
        <li><a href="/tag/{{ tag | replace:' ','-' | replace:'&','&amp;' | downcase }}.html" rel="tag">{{ tag }}</a></li>
      {% endfor %}
  	</ul>
  </footer>
</article>
{% endfor %}

  @@include('../_partials/blog_index/pagination.html')
  @@include('../_partials/blog_index/next_page_teasers.html')
  @@include('../../layouts/partials/blog_components/footnote_return.html')
</div>
