{% for post in postType limit: 2 %}

<article class="teaser-module clearfix">
		<header>
        <h4 class="teaser-module-head"><a href="{{ post.url}}" rel="next">{{ post.title | markdownify | strip_html }}</a></h4>
		</header>

		<div class="teaser-module-abstract">
		<p>	{{ post.content | truncatewords: 70 | strip_html }} <a href="{{post.url}}" rel="next" class="teaser-module-abstract-link">More </a></p>
		</div>

		<a href="{{post.url}}" rel="next">
		<div class="teaser-module-art">
		<figure class="teaser-module-mainart med-photo-overlay">
			<picture>
				<source srcset="siteart/large_{{post.image}}.jpg" media="(min-width:550px)">
				<source srcset="siteart/med_{{post.image}}.jpg" media="(min-width:350px)">
				<source srcset="siteart/xsmall_{{post.image}}.jpg">
				<img src="siteart/large_{{post.image}}.jpg" alt="">
			</picture>
		</figure>
		</a>

	</article>

	{% endfor %}
