<article id="blog-container" class="blog-container">
{% for post in site.categories.blog-entry limit: 1 %}
	<a href="{{ post.url}}" rel="next">
		@@include('../../../layouts/partials/blog_components/blog_image_test.html')
	</a>
	<h1 class="blog-headline"><a href="{{ post.url}}" rel="canonical">{% if post.altTitle %}{{ post.altTitle | markdownify | strip_html }} {% else %} {{ post.title | markdownify | strip_html }}{% endif%}
	</a></h1>
	<p class="blog-entry-date">{{ post.date | date: "%A, %B %-d, %Y" }}</p>

<div class="blog-entry-text-index">
	{{ post.content | truncatewords: 170 }}
</div>
	{% assign readCalc =  post.content | number_of_words | divided_by: 180 | round %}
	{% if readCalc == 0 %}
		{% assign readTime = "Less than one" %}
	{% elsif readCalc == 1 %}
		{% assign readTime = "One" %}
	{% elsif readCalc == 2 %}
		{% assign readTime = "Two" %}
	{% elsif readCalc == 3 %}
		{% assign readTime = "Three" %}
	{% elsif readCalc == 4 %}
		{% assign readTime = "Four" %}
	{% elsif readCalc == 5 %}
		{% assign readTime = "Five" %}
	{% elsif readCalc == 6 %}
			{% assign readTime = "Six" %}
	{% elsif readCalc == 7 %}
		{% assign readTime = "Seven" %}
	{% elsif readCalc == 8 %}
		{% assign readTime = "Eight" %}
	{% elsif readCalc == 9 %}
		{% assign readTime = "Nine" %}
	{% else %}
		{% assign readTime = readCalc %}
	{% endif %}
<div class="blog-button-wrapper">
<a href="{{ post.url}}" rel="canonical" class="button blog-more-button">Continue reading
	<span aria-hidden="true">
		<svg class="button-icon">
			<use xlink:href="#arrow-right" />
		</svg>
	</span>
</a>
<!-- sets variable with identity of post so I can check it against randomizer -->
	{% assign entry = post %}
	{% endfor %}
</div>
</article>

@@include('blog_entry_teasers_index.html')
