<aside id="blog-teaser-wrapper" class="blog-teaser-wrapper">
<ul class="blog-teaser-list">




	{% for post in site.categories.blog-entry limit: 4 %}
	{% assign random = site.time | date: "%s%N" | modulo: site.categories.promo.size %}
	{% assign randomPost = site.posts[random] %}
	{% if randomPost.promo == site.posts.promo %}
		 <p> match {{site.posts}}</p>
		 {% assign random = site.time | date: "%s%N" | modulo: site.categories.promo.size %}
		 {% assign randomPost = site.posts[random] %}
	{% endif %}
		{% endfor %}


	{% for post in site.categories.promo limit: 1 %}
	<li class="blog-teaser-item blog-teaser-highlight">
		<a href="{{ site.posts[random].url }}" rel="canonical">
		<figure class="blog-teaser-image med-photo-overlay">
		<img src="/siteart/xsmall_{{ site.posts[random].image}}.jpg" alt="{{ site.posts[random].imageAlt}}">
		</figure>
			<h4 class="blog-teaser-hed">{{ site.posts[random].title markdownify | strip_html }} {{random}}
			<svg class="teaser-arrow-icon">
				<use xlink:href="#arrow-right" />
			</svg>
		</h4>
		</a>
	</li>
	{% endfor %}

	{% for post in site.categories.blog-entry limit: 3 offset:1 %}
<li class="blog-teaser-item blog-teaser-highlight">
		<a href="{{ post.url}}" rel="canonical">
		<figure class="blog-teaser-image med-photo-overlay">
		<img src="/siteart/xsmall_{{post.image}}.jpg" alt="{{post.imageAlt}}">
		</figure>
		<mt:If tag="EntryDataPromo_blurb">
			<h4 class="blog-teaser-hed">{{ post.promo | markdownify | strip_html }}
				<svg class="teaser-arrow-icon">
				  <use xlink:href="#arrow-right" />
				</svg>
			</h4>
		</a>
	</li>
	{% endfor %}
</ul>
</aside>
