<div class="slideshow slideshow-big-image slideshow-big-image med-photo-overlay">
   <figure class="slideshow-image">
    <picture>
     <source srcset="/siteart/xlarge_{{page.slides[0]}}.jpg" media="(min-width:700px)">
     <source srcset="/siteart/large_{{page.slides[0]}}.jpg" media="(min-width: 450px)">
     <source srcset="/siteart/med_{{page.slides[0]}}.jpg">
     <img src="/siteart/large_{{page.slides[0]}}.jpg" class="lazyload" alt="">
   </picture>
    </figure>
   <figure class="slideshow-image">
     <picture>
      <source srcset="/siteart/xlarge_{{page.slides[1]}}.jpg" media="(min-width:700px)">
      <source srcset="/siteart/large_{{page.slides[1]}}.jpg" media="(min-width: 450px)">
      <source srcset="/siteart/med_{{page.slides[1]}}.jpg">
      <img src="/siteart/large_{{page.slides[1]}}.jpg" class="lazyload" alt="">
    </picture>
  </figure>
</div>
