<div class="slideshow slideshow-big-image slideshow-big-image med-photo-overlay">
   <figure class="slideshow-image">
    <picture>
     <source data-srcset="/siteart/xlarge_{{page.slides[0]}}.jpg" media="(min-width:700px)">
     <source data-srcset="/siteart/large_{{page.slides[0]}}.jpg" media="(min-width: 450px)">
     <source data-srcset="/siteart/med_{{page.slides[0]}}.jpg">
     <img class="lazyload" data-src="/siteart/large_{{page.slides[0]}}.jpg" alt="">
   </picture>
    </figure>
   <figure class="slideshow-image">
     <picture>
      <source data-srcset="/siteart/xlarge_{{page.slides[1]}}.jpg" media="(min-width:700px)">
      <source data-srcset="/siteart/large_{{page.slides[1]}}.jpg" media="(min-width: 450px)">
      <source data-srcset="/siteart/med_{{page.slides[1]}}.jpg">
      <img class="lazyload" data-src="/siteart/large_{{page.slides[1]}}.jpg" alt="">
    </picture>
  </figure>
</div>
