<ul class="triple-module-portfolio clearfix">
	<li>
	<figure class="triple-module-image-portfolio round-photo-overlay">
		<img src="/siteart/square_{{page.images[0]}}.jpg" class="lazyload" alt="">
	</figure>
	</li>
	<li>
	<figure class="triple-module-image-portfolio round-photo-overlay">
		<img src="/siteart/square_{{page.images[1]}}.jpg" class="lazyload" alt="">
	</figure>
	</li>
	<li>
	<figure class="triple-module-image-portfolio round-photo-overlay">
		<img src="/siteart/square_{{page.images[2]}}.jpg" class="lazyload" alt="">
	</figure>
	</li>
</ul>
