<div class="pagination-wrapper">
  <p class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
    <div class="pagination">
      <div class="pagination-direction back">
        {% if paginator.previous_page and page != 1 %}
        <svg class="teaser-arrow-icon arrow-icon-left">
          <use xlink:href="#arrow-right" />
        </svg>
          <a href="{{ paginator.previous_page_path }}" rel="prev" class="">Back</a>
        {% endif %}
      </div>
      <div class="pagination-direction">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" rel="next" class="next">Next</a>
          <svg class="teaser-arrow-icon">
    				<use xlink:href="#arrow-right" />
    			</svg>
        {% endif %}
      </div>
  </div>
</div>
