<div class="blog-signiture">
	<figure class="blog-mugshot">
		<noscript>
			<img src="/siteart/blog_mugshot.jpg" alt="Mugshot of David Putney">
		</noscript>
		<a href="/about" rel="author">
    	<img class="lazyload" data-src="/siteart/blog_mugshot.jpg" alt="Mugshot of David Putney">
		</a>
	</figure>
	<p class="blog-signiture-text">Hi. I’m a web designer and front-end developer at a Boston-area technology consulting firm. I built this site and write about various topics of interest to me here. If you'd like, you can follow me on <a href="https://twitter.com/putneydm">Twitter</a>.</p>
</div>
