
	<aside id="blog-teaser-wrapper" class="blog-teaser-wrapper">
	<h4 class="blog-teaser-label">You might also like</h4>
	<ul class="blog-teaser-list">

		{% assign currentEntry = page %}

		 {% assign random = site.time | date: "%s%N" | modulo: site.categories.blog-entry.size %}
			{% for post in site.categories.blog-entry%}
				 {% if post ==  site.posts[random] and post.promo != currentEntry.promo and site.posts[random].categories contains 'promo' %}
				<li class="blog-teaser-item blog-teaser-highlight">
					<a href="{{ site.posts[random].url }}" rel="canonical">
					<figure class="blog-teaser-image med-photo-overlay">
					<img src="/siteart/xsmall_{{ site.posts[random].image}}.jpg" alt="{{ site.posts[random].imageAlt}}">
					</figure>
						<h4 class="blog-teaser-hed">random post {{ site.posts[random].title markdownify | strip_html }}
						<svg class="teaser-arrow-icon">
							<use xlink:href="#arrow-right" />
						</svg>
					</h4>
					</a>
				</li>
				 {% break %}
				{% endif %}
		{% endfor %}

		{% for post in site.categories.blog-entry limit: 5 %}
		{% if post.promo != currentEntry.promo %}
		<span class="hidden">{% increment counter %}</span>
		{% if counter < 4 %}
			<li class="blog-teaser-item">
					<a href="<mt:entrypermalink>" rel="canonical">
					<figure class="blog-teaser-image med-photo-overlay">
					<img src="/siteart/xsmall_{{post.image}}.jpg" alt="{{post.imageAlt}}">
					</figure>
						<h4 class="blog-teaser-hed">{{counter}} {{ post.promo }}
						<svg class="teaser-arrow-icon">
							<use xlink:href="#arrow-right" />
						</svg>
						</h4>
					</a>
				</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
</aside>
