/*woff*/
@font-face {
    font-family: 'Droid Serif';
    src: url(fonts_in/woff/droidserif-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: url(fonts_in/woff/droidserif-italic-webfont.woff);
    font-weight: normal;
    font-style: italic;
}
