/*woff2*/
@font-face {
    font-family: 'Droid Serif';
    src: url(fonts_in/woff2/droidserif-bold-webfont.woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: url(fonts_in/woff2/droidserif-italic-webfont.woff2);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Droid Serif';
    src: url(fonts_in/woff2/droidserif-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ginger';
    src: url(fonts_in/woff2/f37ginger-bold-webfont.woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lavenderia';
    src: url(fonts_in/woff2/lavanderia_sturdy-webfont.woff2);
    font-weight: bold;
    font-style: italic;
}
