---
layout: index_default
heroArt: index
pagetype: index

---
<!-- testing  here -->
<section class="teaser-module-container">
    @@include('_partials/index_components/mt_blog_module.html')
</section>

<section class="teaser-module-container">
  	<h2 class="section-header-index"><a href="/design" rel="next">Design</a></h2>
  	<p class="page-subhead">Portfolio of professional sites I designed or developed.</p>
    {% for post in site.design limit: 2 %}
    @@include('_partials/index_components/mt_front_page_teaser.html')
    {% endfor %}
</section>

<section class="teaser-module-container">
  <h2 class="section-header-index"><a href="/projects" rel="next">Projects</a></h2>
  <p class="page-subhead">Portfolio of professional sites I designed or developed.</p>
  {% for post in site.projects limit: 2 %}
  @@include('_partials/index_components/mt_front_page_teaser.html')
  {% endfor %}
</section>
