<div id="inside-header" class="nav-fixed-bar nav-fixed-bar--nodisplay">
  <a href="/" rel="index" class="main-header-logo-link">
    <svg id="header-logo" class="main-header-logo main-header-logo--nodisplay" aria-hidden="true">
      <use xlink:href="#nameplate" />
    </svg>
  </a>
  <p class="hidden">David Putney</p></a>
    <div class="headspace-wrapper">
      <div id="headspace" class="nav-fixed-headspace" data-status="none">
        <h1 id="nav-head" class="nav-blog-headline">this is a headline</h1>
      </div>
    </div>
  <nav class="nav-list-wrapper">

{% if pageType  == 'blog-entry' or pageType == 'search' or pageType == 'error'%}
  <ul id="nav-menu" class="nav-list">
{% else %}
  <ul id="nav-menu" class="nav-list nav-list--nodisplay">
{% endif%}
    @@include('../shared/nav_links.html')
  </ul>
</nav>
  @@include('components/menu_button.html')
  <div class="scroll-progress-wrapper">
    <div id="scroll-progress" class="scroll-progress"></div>
  </div>
</div>
