
{% assign pageType = page.pagetype %}
{% assign ogSiteKeywords = site.sitekeywords | join: ', ' %}

{% if pageType == 'index' %}
	{% capture ogImage %}hero_{{page.heroArt }}.jpg{% endcapture %}
	{% assign ogTitle = site.tagLine %}
	{% assign ogDescription = site.description %}
	{% assign ogKeywords = page.keywords | join: ', ' %}
{% endif %}

{% if pageType == 'blog-entry' %}
	{% capture ogImage %}large_{{page.image }}.jpg{% endcapture %}
	{% assign ogTitle = page.title %}
	{% assign ogDescription = page.content | truncatewords: "120" escape markdownify strip_html '<sup>' | remove:'<sup>' '</sup>' | remove:'</sup>' %}
	{% assign ogKeywords = page.tags | join: ', ' %}
{% endif %}

{% if pageType == 'tag-archive' %}
	{% capture ogTitle %}{{  page.tag | capitalize }} archive | {{site.title}}{% endcapture %}
	{% assign ogDescription = site.description %}
	{% assign ogKeywords = page.keywords | join: ', ' %}
{% endif %}

{% if pageType == 'blog' or  pageType == portfolio'%}
	{% capture ogImage %}hero_{{page.heroArt }}.jpg{% endcapture %}
	{% assign ogTitle = page.head %}
	{% assign ogDescription = 'page.description' %}
	{% assign ogKeywords = page.keywords | join: ', ' %}
{% endif %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<!-- facebook -->
<meta property="og:title" content="{{ogTitle}}" />
<meta property="og:site_name" content="David Putney | This is my site"/>
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ogDescription}}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{{site.url}}/siteart/{{ogImage}}" />
<meta property="article:authior" content="https://www.facebook.com/david.putney" />
<meta property="article:publisher" content="https://www.facebook.com/david.putney" />
<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@putneydm" />
<meta name="twitter:title" content="{{ogTitle}}" />
<meta name="twitter:description" content="{{ogDescription | truncate: "200"}}" />
<meta name="twitter:image" content="{{ogImage}}" />
<!-- other -->
<meta name="description" itemprop="description" content="{{ogDescription}}" />
<meta name="keywords" itemprop="keywords" content="{% if ogKeywords %}{{ogKeywords}}, {% endif %}{{ogSiteKeywords}}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta name="news_keywords" content="David Putney, design, web design, internet design, web sites, CSS, HTML, jQuery" />
<meta name="geo.placename" content="Boston, Massachusetts">
<meta name="author" content="David Putney">
<link rel="shortcut icon" href="http://www.davidputney.com/favicon.ico" />
