<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}
  {% assign hero-art = page.heroArt %}

<body id="index-page" class="one" data-pagetype="index-page">
<ul class="hidden">
  <li><a href="#nav-start">Skip to navigation</a></li>
  <li><a href="#main">Skip to content</a></li>
</ul>

<header class="large-billboard">
	<div id="hero-image" class="hero-art backgound-set" data-image="{{hero-art}}">
		<h1 class="main-header-nameplate" id="main-header-nameplate">David Putney</h1>
	<nav class="clearfix">
		<ul id="navigation-menu" class="nav-menu-display">
      @@include('../includes/partials/mt_nav_links.html')
		</ul>
	</nav>
		<svg class="hero-art-curve">
				<use xlink:href="#inside_page_mask" />
			</svg>
	</div>
</header>
<main id="main">
  <h2 class="triple-module-head" id="main-subhead">Hi. I’m <span itemprop="name">David Putney</span>. I do <span itemprop="title">UI/UX, visual design and front-end web development</span> in the <span itemprop="locality">Boston</span> area. I specialize in designing and building beautiful and functional media and content-driven websites.</h2>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </main>

    {% include mt_footer.html %}
    <div class="svg-import hidden" aria-hidden="true">
        @@include('../svg/svgsprite.svg')
    </div>
  </body>
  @@include('partials/mt_js_links.html')
  {% include mt_google_analytics.html %}
</html>
