<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}
  {% assign hero-art = page.heroArt %}

<body id="index-page" class="one" data-pagetype="index-page">
  @@include('partials/skip_links.html')
  @@include('partials/index/index_hero_presentation.html')
<main id="main">
  <h2 class="triple-module-head" id="main-subhead">Hi. I’m <span itemprop="name">David Putney</span>. I do <span itemprop="title">UI/UX, visual design and front-end web development</span> in the <span itemprop="locality">Boston</span> area. I specialize in designing and building beautiful and functional media and content-driven websites.</h2>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </main>

    {% include mt_footer.html %}
    <div class="svg-import hidden" aria-hidden="true">
        @@include('../svg/svgsprite.svg')
    </div>
  </body>
  @@include('partials/mt_js_links.html')
  {% include mt_google_analytics.html %}
</html>
