<!DOCTYPE html>
<html class="no-js">

	{% include head.html %}
	<header class="small-billboard">
		{% include mt_page_header.html %}
	<div id="hero-image" class="hero-art backgound-set" data-image="{{page.heroArt}}">
		<svg class="hero-art-curve">
				<use xlink:href="#inside_page_mask" />
			</svg>
	</div>
	</header>
	@@include('partials/skip_links.html')
<main id="main">
<header class="portfolio-introduction-container">
	<h1 class="portfolio-project-name">{{page.head markdownify strip_html}}</h1>
	<p class="page-subhead">{{{page.subhead markdownify strip_html}}</p>
</header>
{{content}}
</main>
{% include mt_footer.html %}
<div class="svg-import hidden" aria-hidden="true">
		@@include('../svg/svgsprite.svg')
</div>
</body>
  @@include('partials/mt_js_links.html')
	{% include mt_google_analytics.html %}
</html>
