<!DOCTYPE html>
<html class="no-js">
	{% include head.html %}
<body>
	@@include('partials/skip_links.html')
	@@include('partials/portfolio_pages/hero_presentation.html')
<main id="main">
	@@include('partials/portfolio_pages/intro_text_block.html')

	{{content}}

</main>
	@@include('partials/footer/footer.html')
<div class="svg-import hidden" aria-hidden="true">
		@@include('../svg/svgsprite.svg')
</div>
</body>
  @@include('partials/mt_js_links.html')
	{% include mt_google_analytics.html %}
</html>
