---
layout: minimal_layout
pageType: portfolio_entry
---
<article class="portfolio-wrapper">
  {% if page.title %}
	<h1 class="portfolio-project-name">{{ page.title | markdownify | strip_html }}  
  {% endif %}
  {% if page.subhead %}
  <h2 class="page-subhead">{{ page.subhead | markdownify | strip_html }}</h2>
  {% endif %}
  {% if page.slides %}
    @@include('partials/portfolio/slide_show.html')
  {% else %}
    @@include('partials/blog_components/blog_image_test.html')
  {% endif %}    
    {{page.content}}
</article>
