---
layout: minimal_layout
pageType: portfolio_entry
---
<article class="portfolio-wrapper">
<h1 class="portfolio-project-name">{{ page.title | markdownify | strip_html }}</h1>  
<h2 class="page-subhead">{{ page.subhead | markdownify | strip_html }}</h2>
{% if page.slides %}
	@@include('partials/portfolio/slide_show.html')
{% elsif page.slides == false %}
	@@include('partials/blog_components/blog_image_test.html') 
{% endif %}  
	<div class="blog-container"> 
    <div class="blog-entry">  		
      <div class="blog-entry-text">
        @@include('partials/portfolio_pages/icons.html') 
          {{content}}    
          {% if page.urllink %}
            <a class="button portfolio" href="{{ page.urllink }}" rel="next" target="new">{{ page.title }} on the Internet Archive</a>   
          {% endif %}
      </div>
    </div> 
    @@include('partials/portfolio_pages/teasers.html') 
	</div>
</article>
