---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h2>{{ page.subhead }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>


  {% if page.alt %}
    {% assign alt-text = page.alt %}
  {% else %}
      {% assign alt-text = "This is an image" %}
  {% endif %}

  {% if page.photo %}
  <figure class="blog-image med-photo-overlay">
	<img srcset="../../../../../images/large_{{page.photo}}.jpg 1400w,
		        ../../../../../images/med_{{page.photo}}.jpg 900w,
		        ../../../../../images/xsmall_{{page.photo}}.jpg 450w" sizes="(min-width:43.75rem) 43.75rem, 100vw" src="siteart/med_{{page.photo}}.jpg" alt="{{alt-text}}">
  </figure>
  {% endif %}

  <article class="post-content">
    {{ content }}
  </article>

   {% if page.quote %}
   <p> <strong>{{page.quote}}</strong></p>
   {% endif %}

  <ul>
    {% for tag in page.tags %}
    <li>x {{ tag }}</li>
    {% endfor %}
 </ul>

 {% assign random = site.time | date: "%s%N" | modulo: site.categories.cat-one.size %}
 <div>Random post x: <a href="{{ site.posts[random].url }}">{{ site.posts[random].title }}</a></div>
 <p>site.categories.promo.size</p>
 <p>random</p>

</div>
