---
layout: minimal_layout
---
<div id="blog-container" class="blog-container blog-single-entry">

<article class="blog-entry">

    @@include('partials/blog_components/blog_image_test.html')

  	<h1 class="blog-headline">{{ page.title }}</h1>
    <p class="blog-entry-date">{{ page.date | date: "%B %d, %Y" }}</p>

  <div class="blog-entry-text">
      {{content}}
  </div>
  <footer class="blog-entry-footer">
  <mt:If tag="EntryDataFootnotes">

  @@include('partials/blog_components/mt_footnote_return.html')
  @@include('partials/blog_components/mt_blog_sig.html')

  	<ul class="blog-tags">
      {% for tag in page.tags %}
        <li><a href="/tag/{{tag}}.html"> {{ tag }}</a></li>
      {% endfor %}
  <!-- <mt:EntryTags>
      <li><a href="<$mt:TagSearchLink$>" rel="tag"><mt:TagName></a></li>
  </mt:EntryTags> -->
  	</ul>
    @@include('partials/blog_components/mt_blog_entry_teasers_inside.html')

  </footer>

</article>

</div>
