---
layout: minimal_layout
pagetype: tag-archive
---

<h2 class="post_title">{{page.title}}</h2>

<div class="tag-results">

<section>
<h1 class="search-results-header"> Results for &ldquo;{{page.tag}}&rdquo;</h1>

{% for post in site.posts %}
{% for tag in post.tags %}
{% if tag == page.tag %}
<article class="search-results-entry">
<h2 class="blog-headline"><a href="{{post.url}}" rel="canonical">{{post.title | markdownify | strip_html }}</a></h2>
    <p class="blog-entry-date">{{ page.date | date: "%B %d, %Y" }}</p>

<div class="blog-entry-text">
<p>{{post.content | truncatewords: 100}}&nbsp;<a href="{{post.url}}" rel="canonical" class="search-results-link">More</a></p>
</div>
<h1>dfgdffgdfgdf</h1>

</article>
{% endif %}
{% endfor %}
{% endfor %}
</section>
</div>
