.hero-art {
	@include aspect-ratio (100, 0, 23, 8.56);
	background-position: center top;
	position:relative;
	background-attachment: fixed;
	background-size: 100%;
	border-bottom: 1px solid white;
	&::after {
		width:100%;
		height:rem(1);
		content:'';
		top:0;
		left:0;
		display:block;
		box-shadow: 0 0 120px 60px rgba(153, 153, 153, 0.4);
		transform: translate(0,0);
	}
	&::before {
		content:'';
		position: absolute;
		top:0;
		left:0;
		background-color: white;
		opacity:0;
		pointer-events: none;
	}
}
.hero-art-curve {
	position:absolute;
	bottom:-2px;
	left:0;
	@include aspect-ratio (100, 0, 23, .86);
	fill:white;
}
.small-billboard {
	.hero-art {
		@include aspect-ratio (100, 0, 23, 8.56);
		min-height:rem(350);
		background-image:url('<$mt:BlogURL$>siteart/pl_hero_<$mt:Var name="hero_art"$>.jpg');
			@media screen and (max-width:em(950)){
				background-size: auto 350px;
			}
			&::before {
				@include aspect-ratio (100, 0, 23, 8.56);
				min-height:rem(350);
			}
			@media screen and (max-width:em(700)) {
				&::before {
					height:rem(90);
				}
			}
			@media screen and (max-width:em(560)) {
				&::before {
					height:rem(180);
				}
			}
		}
}
.large-billboard {
	.hero-art {
		@include aspect-ratio (100, 0, 23, 10.4);
		background-image:url('siteart/pl_hero_index.jpg');
		min-height:em(365);
		&::before {
			@include aspect-ratio (100, 0, 23, 10.4);
			min-height:rem(365);
			z-index:1;
		}
			&::after {display:none;}
			@media screen and (max-width:em(800)){
				background-size: auto 365px;
		}
	}
}
.portfolio-introduction-container {
	width:100%;
	margin:rem(40) auto 0;
	padding:0 rem(40);
	@media screen and (max-width:rem(650)) {
		padding:0 rem(20);
		margin:rem(30) auto 0;
		}
	@media screen and (max-width:rem(500)) {
		padding:0 rem(10);
		margin:rem(20) auto 0;
		}
}
.filter-me
	{
		&:not(.hero-art-curve) {
			filter: blur(2px) grayscale(70%);
			transition: .3s -webkit-filter linear;
			transition:filter .3s;
		}
	}
