.nav-fixed-bar--display {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:absolute;
	bottom:rem(100);
	width:100%;
		@media screen and (max-width:rem(430))	{
			top:0;
			bottom:initial;
		}
	.nav-menu-button{ display:none; }
}
.main-header-logo--display {
	fill:white;
	// to get height divide the width by 4
	height:rem(125);
	width:rem(500);
	opacity:0;
	transform: scale(1,1);
	will-change:transform;
			@media screen and (max-width:em(800)) {
			height:rem(100);
			width:rem(400);
			}
			@media screen and (max-width:em(430)) {
			height:rem(70);
			width:rem(280);
			margin:rem(30);
			}
}
.nav-list--display {
	width:100%;
	height:auto;
	display: flex;
	justify-content: center;
	opacity:0;
	transform: scale(1,1);
	will-change:transform;
		@media screen and (max-width:em(750)) {
			margin:0 0 rem(8);
			}
		@media screen and (max-width:em(430)) {
			top:rem(210);
			display: flex;
			justify-content: center;
			flex-direction: column;
			}
		li {
			font-size:em(20);
			font-family:$sans;
			text-transform:uppercase;
			color:white;
			padding:rem(3) rem(6) rem(30);
			letter-spacing:.03em;
			text-align: center;
			list-style-type: none;
			a {
				background-image:none;
				color:white;
			}
			&::after {
				content:'|';
				display:inline-block;
				margin:0 0 0 rem(12);
				color:white;
				letter-spacing:-.1em;
			}
			&:nth-child(4) {
				padding-right:0;
				&::after{content:'';display:none;}
			}
			@media screen and (max-width:em(800)) {
				font-size:em(16);
			}
			@media screen and (max-width:em(430)) {
				width:100%;
				margin:0 0;
				padding:rem(3) 0 rem(25);
					&::after {content:''; display:none;}
			}
		}
}
.triple-module-head {
	width:100%;;
	font-size:em(22);
	margin:rem(40) auto;
	padding:0 rem(20);
	text-align:center;
	color:$med;
	opacity:0;
	max-width:rem(1100);
	min-height:rem(200);
	transform: scale(.95,.95);
	line-height:150%;
	will-change:transform;
		@media screen  and (max-width:em(600)) {
		font-size:em(18);
		}
	}
.triple-module-head--active	{
	opacity:1;
	transform: scale(1,1);
	transition:opacity .5s 1.1s, transform .4s 1.1s ease-out;
	}
