// search admin 

.login-wrapper {
  position: relative;
  margin:rem(40) auto 0;
  height:rem(500);
}
.form-field {
  width:100%;
  height:rem(70);
  border:1px solid $light;
  font-size:rem(20);
  padding:rem(30) rem(15);
  font-family:$sans;
  color:$med;
  outline: none;
  border-radius: rem(3);
  position:relative;
  margin:0 auto rem(15);
    &:focus {
      box-shadow: 0 0 rem(15) $light_aqua;
    }
}
.form-field-validate {
  // border:1px solid green;
}
.form-field-validate {
  &:valid {
    // border:1px solid orange;
  }
  &:invalid {
    // border:1px solid blue
  }
}

.form-field-wrapper {
  position: relative;
}

.form-field + label {
  // color:blue;
  position:absolute;
  z-index: 2;
  top:0;
  left:0;
  padding:rem(20) rem(15);
  font-family:$sans;
  color:$med;
  font-size:rem(20);
  transform: translateY(0px);
}
.form-field-validate + label {
  animation-name: formsLabel;
  animation-duration: .35s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: border .2s;
}
.form-field--error {
  border:1px solid $aqua;
  transition: border .2s;
}

.login-error-message {
  opacity:0;
  font-family:$sans;
  font-size:rem(15);
  text-align: center;
  height:rem(28);
  color:$aqua;
  margin:0 auto rem(40);
  transition: opacity .2s;
}
.login-error-message--active {
  opacity:1;
  transition: opacity .2s;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color:$med !important;
}
.form-btn {
  border:0px;
  margin:rem(40) auto 0;
}
.loggedout-screen, .loggedin-screen {
  position: absolute;
  top:0;
  border:1px;
  height:rem(500);
  width:100%;
}
.loggedout-screen.log-screen--active {
  transform: translateY(0) scale(1);
  opacity:1;
  will-change:transform, opacity;
}
.loggedout-screen.log-screen--out {
  animation: slideOutUp .3s ease-in-out;
  animation-iteration-count: 1;
}
.loggedout-screen.log-screen--disabled {
  transform: translateY(-450px) scale(.8);
  opacity:0;
  // display:none;
  pointer-events:none;
}
.loggedout-screen.log-screen--in {
  animation: slideInDown .3s ease-in-out;
  animation-iteration-count: 1;
}
.loggedout-screen.log-screen--shake {
  animation: headShake .2s cubic-bezier(.66,.43,.36,1.39);
  animation-iteration-count: 4;
}

.loggedin-screen.log-screen--active {
  transform: translateY(0) scale(1);
  opacity:1;
  will-change:transform, opacity;
}
.loggedin-screen.log-screen--out {
  animation: slideOutDown .3s ease-in-out;
  animation-iteration-count: 1;
}
.loggedin-screen.log-screen--disabled {
  transform: translateY(450px) scale(.8);
  opacity:0;
  // display:none;
  pointer-events:none;
}
.loggedin-screen.log-screen--in {
  animation: slideInUp .3s ease-in-out;
  animation-iteration-count: 1;
}
@keyframes headShake {
  0% {
      transform:translateX(0px);
  }
  25% {
    transform:translateX(-20px);
  }
  50% {
    transform:translateX(0px);
  }
  75% {
    transform:translateX(20px);
  }
}
@keyframes slideOutUp {
  25% {
    transform: translateY(-125px);
    opacity:1;
  }
  100% {
    transform: translateY(-500px) scale(.8);
    opacity:.5;
  }
}
@keyframes slideInDown{
  0% {
    transform: translateY(-500px) scale(.8);
    opacity:.5;
  }
  50% {
    transform: translateY(-250px) scale(.8);
    opacity:.5;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity:1;
  }
}

@keyframes slideOutDown {
  25% {
    transform: translateY(125px);
    opacity:1;
  }
  100% {
    transform: translateY(500px) scale(.8);
    opacity:.5;
  }
}

@keyframes slideInUp{
  0% {
    transform: translateY(500px) scale(.8);
    opacity:.5;
  }
  50% {
    transform: translateY(250px) scale(.8);
    opacity:.5;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity:1;
  }
}
@keyframes formsLabel {
0% {
  transform: translateY(0);
  font-size:rem(20);
}
100% {
  transform: translateY(-50px);
  font-size:rem(15);
}



}
