.site-footer {display:none;}

.search-main {
  max-width:rem(700);
  width:100%;
  position:relative;
  width:100%;
  margin:140px auto 0;
    @media screen and (max-width:em(700)) {
      max-width:none;
    }
    .blog-entry	{ background-image:none;}
}
.form-field-wrapper {
  position: relative;
  // margin-top:rem(120);
}
.login-wrapper {
  position: relative;
  margin:rem(40) auto 0;
  height:rem(500);
}
.search-form {
  display:flex;
  flex-direction: column;
  margin: 0 auto 0;
    @media screen and (max-width:rem(700))	{
      flex-direction: column;
    }
    .search-form-wrapper {
      // flex-grow: 2;
      display:flex;
      flex-direction: row;
      margin: 0;
      @media screen and (max-width:rem(700))	{
        margin: 0 rem(20);
        flex-direction: column;
      }
    }
}
// .error-overlay {
//   position:fixed;
//   width:100vw;
//   left:0;
//   top:0;
//   height:100vh;
//   z-index:1;
//   align-items: center;
//   justify-content: center;
//   background-color: white;
//   opacity:0;
//   pointer-events: none;
//   padding:rem(45) 0 0;
//   transition: opacity .4s;
//   @media screen and (max-width:rem(700))	{
//     width:100%;
//     padding:rem(25) rem(10) rem(10);
//     height:rem(205);
//   }
// }
.error-overlay {
  width:100vw;
  height:100vh;
  border:1px solid red;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  top:0;
  opacity:0;
  pointer-events: none;
  z-index: 1;
  transition: opacity .4s;
}
.error-wrapper {
  min-width:rem(400);
  height:rem(200);
  position: relative;
}
.error-overlay--active {
  opacity:1;
  transition: opacity .4s;
  pointer-events: auto;
}
.error-overlay--activex {
  opacity:1;
  transition: opacity .4s;
  pointer-events: auto;
}
.login-error-message {
  font-family:$sans;
  font-size:rem(15);
  text-align: center;
  height:rem(28);
  color:$aqua;
  margin:0 auto rem(40);
  transition: opacity .2s;
  flex-grow:0;
  width:100%;
    @media screen and (max-width:rem(700))	{
      height:rem(48);
      margin: 0 0 rem(10) 0;
     }
}
.loader {
  transition: opacity .4s 1s;
  z-index:1;
}
.loader-icon {
  width:rem(30);
  height:rem(30);
  background-color: $aqua;
  border-radius: 50%;
  animation-name: bounceball;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0;
  timing-function: ease-out;
  animation-play-state: running;
  animation-fill-mode: none;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  margin:0 auto;
  z-index:1;
}
.loader-shadow {
  width: 15px;
  height: 7px;
  background: rgba($med, .6);
  border-radius: 7px / 3px;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  box-shadow:0 0 3px 3px rgba($med, .6);
  animation-name:shadow;
  animation-iteration-count: infinite;
  animation-duration: .5s;
  animation-direction: alternate;
  timing-function: ease-out;
}
// .error-overlay--activex {
//   opacity:1;
//   transition: opacity .4s;
//   pointer-events: auto;
// }
//
.search-history-wrapper {
  font-family:$sans;
  color:$med;
  // display:flex;
  margin: 0 0 rem(60);
  @media screen and (max-width:em(750)) {
    display:block;
    margin: 0 rem(10) rem(60);
  }
}
.search-history-hed {
  font-size:rem(16);
  margin:0 rem(10) 0 0;
  line-height: 1.45;
  // flex-shrink: 0;
  display: inline;
}
.search-history-list {
    padding: 0;
    margin:0;
    display: inline;
		// @media screen and (max-width:em(730)) { padding:0 rem(20);}
		// @media screen and (max-width:em(500)) {
		// padding:0 rem(10); }
		li {
		font-family:$sans;
		font-size:em(16);
		letter-spacing:.04em;
		display:inline-block;
		font-weight:700;
		margin:0 rem(20) 0 0;
    line-height: 1.4;
			a { color:$aqua;background-image:none;
				&:hover { color:$dark_aqua; background-image:none;}
		}
			// &::before {
			// 	content:' | ';
			// 	display:inline-block;
			// 	color:$med;
      //   margin:0 rem(10) 0 0;
      //   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
      //   font-weight: 300;
      //   vertical-align: -1px;
			// }
			// &:nth-child(1) {
			// 	&::before {
			// 		content:'';
			// 		display:none;
			// 	}
			// }
		}
}
.search-history-clear {
  width:15px;
  height:15px;
  display:inline-block;
  fill:$light;
  transition: fill .2s, opacity .2s;
  position: relative;
  top:rem(3);
  opacity: 0;
  &:hover {
    fill:$aqua;
    transition: fill .2s;
    cursor: pointer;

  }
  &.active {
    opacity:1;
    transition: fill .2s, opacity .2s;
  }
}
