// search admin
// .search-main {
//   margin:rem(135) auto rem(10);
//     @media screen and (max-width:em(750)) {
//       padding-top:0;
//       margin:rem(140) rem(10) 0;
//     }
//     .blog-entry	{ background-image:none;}
// }
input, button {
  -webkit-border-radius:0; 
  -webkit-appearance:none
}

#search-results-wrapper {
  a {
    display:block;
    width:100%;
    background-image: none;
  }
}
.search-results-alt {
  margin:0 auto;
  padding-top: 0;
    @media screen and (max-width:em(750)) {
      margin:0 rem(10) 0;
    }
}
.search-results-header {
	font-family:$sans;
	font-size:em(16);
	margin:0 0 rem(60) 0;
	border-bottom:1px solid $med;
	padding:0 0 rem(10) 0;
}
.search-results-link {
	@extend .teaser-module-abstract-link;
	font-size:em(14);
}
.search-results-entry {
	margin-bottom:rem(40);
	padding-bottom:rem(30);
	background-image: linear-gradient(to bottom, transparent 75%, $dark 75%);
	background-size: 60% rem(2);
	background-origin: padding-box;
	background-position: center 100%;
	background-repeat: no-repeat;
    @media screen and (max-width:rem(600))	{
      padding-bottom:rem(15);
      margin-bottom: rem(20);
    }
    p {
      font-size:em(16);
      hyphens: auto;
      @media screen and (max-width:em(500)) { font-size:em(15); }
    }
    .blog-headline {
      @media screen and (max-width:rem(700))	{
        font-size:rem(20);
        padding-top:0;
       }

    }
}
// .search-form-btn {
//   margin:0 auto rem(25);
// }
.loggedout-screen, .loggedin-screen {
  position: absolute;
  top:0;
  border:1px;
  height:rem(500);
  width:100%;
}
.loggedout-screen.log-screen--active {
  transform: translateY(0) scale(1);
  opacity:1;
  will-change:transform, opacity;
}
.loggedout-screen.log-screen--out {
  animation: slideOutUp .3s ease-in-out;
  animation-iteration-count: 1;
}
.loggedout-screen.log-screen--disabled {
  transform: translateY(-450px) scale(.8);
  opacity:0;
  // display:none;
  pointer-events:none;
}
.loggedout-screen.log-screen--in {
  animation: slideInDown .3s ease-in-out;
  animation-iteration-count: 1;
}
.loggedout-screen.log-screen--shake {
  animation: headShake .2s cubic-bezier(.66,.43,.36,1.39);
  animation-iteration-count: 4;
}

.loggedin-screen.log-screen--active {
  transform: translateY(0) scale(1);
  opacity:1;
  will-change:transform, opacity;
}
.loggedin-screen.log-screen--out {
  animation: slideOutDown .3s ease-in-out;
  animation-iteration-count: 1;
}
.loggedin-screen.log-screen--disabled {
  transform: translateY(450px) scale(.8);
  opacity:0;
  // display:none;
  pointer-events:none;
}
.loggedin-screen.log-screen--in {
  animation: slideInUp .3s ease-in-out;
  animation-iteration-count: 1;
}
.error-overlay {
  position:absolute;
  top:-130px;
  width:100%;
  height:rem(280);
  z-index:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity:0;
  pointer-events: none;
  @media screen and (max-width:rem(600))	{
    top:-60px;
  }
}
.error-overlay--active {
  opacity:1;
  transition: opacity .4s;
  pointer-events: auto;
}
.loader {
  transition: opacity .4s 1s;
  z-index:1;
}
.loader-icon {
  width:rem(30);
  height:rem(30);
  background-color: $aqua;
  border-radius: 50%;
  animation-name: bounceball;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0;
  timing-function: ease-out;
  animation-play-state: running;
  animation-fill-mode: none;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  margin:0 auto;
  z-index:1;
}
.loader-shadow {
  width: 15px;
  height: 7px;
  background: rgba($med, .6);
  border-radius: 7px / 3px;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  box-shadow:0 0 3px 3px rgba($med, .6);
  animation-name:shadow;
  animation-iteration-count: infinite;
  animation-duration: .5s;
  animation-direction: alternate;
  timing-function: ease-out;
}
.paused{
    animation-play-state:paused;
}
@keyframes headShake {
  0% {
      transform:translateX(0px);
  }
  25% {
    transform:translateX(-20px);
  }
  50% {
    transform:translateX(0px);
  }
  75% {
    transform:translateX(20px);
  }
}
@keyframes slideOutUp {
  25% {
    transform: translateY(-125px);
    opacity:1;
  }
  100% {
    transform: translateY(-500px) scale(.8);
    opacity:.5;
  }
}
@keyframes slideInDown{
  0% {
    transform: translateY(-500px) scale(.8);
    opacity:.5;
  }
  50% {
    transform: translateY(-250px) scale(.8);
    opacity:.5;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity:1;
  }
}

@keyframes slideOutDown {
  25% {
    transform: translateY(125px);
    opacity:1;
  }
  100% {
    transform: translateY(500px) scale(.8);
    opacity:.5;
  }
}

@keyframes slideInUp{
  0% {
    transform: translateY(500px) scale(.8);
    opacity:.5;
  }
  50% {
    transform: translateY(250px) scale(.8);
    opacity:.5;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity:1;
  }
}
@keyframes formsLabel {
0% {
  transform: translateY(0);
  font-size:rem(20);
}
100% {
  transform: translateY(-55px);
  font-size:rem(15);
}
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes bounceball {
   from {
     transform: translateY(0);
     height: 15px;
   }
   10%  {
     transform: translateY(0);
     height: 30px;
   }
   to   {
     transform: translateY(-100px);
   }
}
@keyframes shadow {
  0%{ opacity:1; transform: scale(1.8);}
  60%{ opacity:0; transform: scale(.9);}
  100%{ opacity:0; transform: scale(.9);}
}
