.site-footer {display:none;}
.scroll-to-top{display:none;}

.search-main {
  max-width:rem(700);
  width:100%;
  position:relative;
  width:100%;
  margin:rem(200) auto 0; 
    @media screen and (max-width:em(700)) {
      max-width:none;
      margin:rem(150) auto 0;  
    }
    @media screen and (max-width:em(425)) {
      margin:rem(130) auto 0;
    }
    .blog-entry	{ background-image:none;}
}
.form-field-wrapper {
  position: relative;
}
.login-wrapper {
  position: relative;
  margin:rem(40) auto 0;
  height:rem(500);
}
.search-form {
  display:flex;
  flex-direction: column;
  margin: 0 auto 0;
    @media screen and (max-width:rem(700))	{
      flex-direction: column;
    }
    .search-form-wrapper {
      display:flex;
      flex-direction: row;
      margin: 0;
      @media screen and (max-width:rem(700))	{
        margin: 0 rem(20);
        flex-direction: column;
      }
    }
}
.error-overlay {
  width:100vw;
  height:100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  top:0;
  opacity:0;
  pointer-events: none;
  z-index: 1;
  transition: opacity .4s;
}
.error-wrapper {
  min-width:rem(400);
  height:rem(200);
  position: relative;
}
.error-overlay--active {
  opacity:1;
  transition: opacity .4s;
  pointer-events: auto;
}
.error-overlay--activex {
  opacity:1;
  transition: opacity .4s;
  pointer-events: auto;
}
.login-error-message {
  font-family:$sans;
  font-size:rem(15);
  text-align: center;
  height:rem(28);
  color:$aqua;
  margin:0 auto rem(40);
  transition: opacity .2s;
  flex-grow:0;
  width:100%;
    @media screen and (max-width:rem(700))	{
      height:rem(48);
      margin: 0 0 rem(10) 0;
     }
}
.loader {
  transition: opacity .4s 1s;
  z-index:1;
}
.loader-icon {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #2989a2;
  border-radius: 50%;
  transform: translateY(-10.625rem);
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}
.loader-shadow {
  width: 0.9375rem;
  height: 0.4375rem;
  background: rgba(208, 208, 208, 0.6);
  border-radius: 0.4375rem / 0.1875rem;
  position: absolute;
  bottom: 0.3125rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0.1875rem 0.1875rem rgba(208, 208, 208, 0.6);
  box-shadow: 0 0 0.1875rem 0.1875rem rgba(208, 208, 208, 0.6);
}
.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  animation-play-state: running;
  will-change: transform;
}
.loader-icon.bounce {
  animation-name: bounceball;
  animation-timing-function: cubic-bezier(0.8, 0.1, 0.28, 0.89);
}
.loader-shadow.bounce {
  -webkit-animation-name: shadow;
  animation-name: shadow;
}
.loader-icon.bounce.paused, .loader-shadow.bounce.paused {
  animation-play-state: paused;
}
.search-history-wrapper {
  font-family:$sans;
  color:$med;
  margin: 0 0 rem(60);
  @media screen and (max-width:em(750)) {
    display:block;
    margin: 0 rem(10) rem(60);
  }
}
.search-history-wrapper.hide {
  .search-history-hed {
    opacity:0;
  }
}
.search-history-hed {
  font-size:rem(16);
  margin:0 rem(10) 0 0;
  line-height: 1.45;
  display: inline;
}
.search-history-list {
    padding: 0;
    margin:0;
    display: inline;
		li {
		font-family:$sans;
		font-size:em(16);
		letter-spacing:.04em;
		display:inline-block;
		font-weight:700;
		margin:0 rem(20) 0 0;
    line-height: 1.4;
			a { color:$aqua;background-image:none;
				&:hover { color:$dark_aqua; background-image:none;}
		}
		}
}
.search-history-clear {
  width:15px;
  height:15px;
  display:inline-block;
  fill:$light;
  transition: fill .2s, opacity .2s;
  position: relative;
  top:rem(3);
  opacity: 0;
  &:hover {
    fill:$aqua;
    transition: fill .2s;
    cursor: pointer;

  }
  &.active {
    opacity:1;
    transition: fill .2s, opacity .2s;
  }
}

@keyframes bounceball {
  0% {
    -webkit-transform: translateY(-10.625rem);
    transform: translateY(-10.625rem);
  }

  30% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    height: 1.875rem;
    width: 1.875rem;
  }

  33% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    height: 0.9375rem;
    width: 2.375rem;
  }

  50% {
    height: 2.1875rem;
    width: 1.5625rem;
  }

  85% {
    -webkit-transform: translateY(-10.625rem);
    transform: translateY(-10.625rem);
    height: 1.875rem;
    width: 1.875rem;
  }

  100% {
    -webkit-transform: translateY(-10.625rem);
    transform: translateY(-10.625rem);
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  20% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  32% {
    opacity: 1;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

