// .search-results {
// 	margin-top:rem(60);
// }
// .search-results-header {
// 	font-family:$sans;
// 	font-size:em(16);
// 	margin:0 0 rem(60) 0;
// 	border-bottom:1px solid $med;
// 	padding:0 0 rem(10) 0;
// }
// .search-results-link {
// 	@extend .teaser-module-abstract-link;
// 	font-size:em(14);
// }
// .search-results-entry {
// 	@extend .blog-entry;
// }

.login-wrapper {
  position: relative;
  margin:rem(40) auto 0;
  height:rem(450);
}
.form-field {
  width:100%;
  height:rem(70);
  border:1px solid $light;
  font-size:rem(20);
  padding:rem(30) rem(15);
  font-family:$sans;
  color:$med;
  outline: none;
  border-radius: rem(3);
    &:focus {
      box-shadow: 0 0 rem(15) $light_aqua;
    }
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color:$med !important;
}
.form-btn {
  border:0px;
  margin:rem(40) auto 0;
}
.loggedout-screen, .loggedin-screen {
  position: absolute;
  top:0;
  border:1px;
  height:rem(450);
  width:100%;
}
.loggedout-screen.log-screen--active {
  transform: translateY(0) scale(1);
  opacity:1;
}
.loggedout-screen.log-screen--out {
  animation: slideOutUp .3s ease-in;
  animation-iteration-count: 1;
}
.loggedout-screen.log-screen--disabled {
  transform: translateY(-450px) scale(.9);
  opacity:.5;
}
.loggedout-screen.log-screen--in {
  animation: slideInDown .3s cubic-bezier(1,.8,.94,1.27);
  animation-iteration-count: 1;
}
.loggedin-screen.log-screen--active {
  border:2px solid orange;
  display:none;
}
.loggedout-screen.log-screen--shake {
  animation: headShake .2s cubic-bezier(.66,.43,.36,1.39);
  animation-iteration-count: 4;
}
