* { box-sizing: border-box; }
body {
color:$body;
font-size:100%;
margin:0 0 rem(120);
font-family:$droid;
-webkit-font-smoothing: antialiased;
}
h1, h2, h3 {font-family:$sans; font-weight:700;}
a {
	@include underscore-body ($x-light-aqua, 90%);
	transition:color .2s ease-in, background .2s ease-in;
	text-decoration:none;
	color:$body;
		&:hover {@include underscore-body ($light-aqua, 90%);}
}
.hidden { position:absolute; left:-90000px;}
.portfolio-project-name	 {
	text-align:center;
	font-size:em(72);
	margin:0 0 20px;
	letter-spacing: -.03rem;
		@media screen and (max-width:em(800)) {font-size:em(60);}
		@media screen and (max-width:em(600)) {font-size:em(50);margin:0 0 10px;}
		@media screen and (max-width:em(500)) {font-size:em(36);}
}
.page-subhead {
	font-size:em(22);
	text-align:center;
	margin:0 0 50px 0;
	line-height:140%;
	color:$med;
	@media screen and (max-width:em(500)) {
		font-size:em(18);
		margin:0 0 20px 0;
	}
}
img {width:100%;}
svg {width:20px;height:20px;}
