* {
    box-sizing: border-box;
}


//html, body { height: 100%; overflow:auto;}
html {
    font-size: calc(1em + (0 * 1vw));
}

body {
    color: $body;
    margin: 0 0 rem(120);
    font-family: $droid;
    -webkit-font-smoothing: antialiased;
    @media (prefers-color-scheme: dark) {
        background-color: $dm-dark;
        color: $dm-light;
    }
}


p {
    line-height: 1.65
}

h1,
h2,
h3 {
    font-family: $sans;
    font-weight: 700;
}

a {
    @include underscore-body ($x-light-aqua, 90%);
    transition: color .2s ease-in, background .2s ease-in;
    text-decoration: none;
    color: $body;
    &:hover {
        @include underscore-body ($light-aqua, 90%);
    }
    @media (prefers-color-scheme: dark) {
        color: $x-light-aqua;
        @include underscore ($x-light-aqua, 90%);
        text-shadow: none;
        &:hover {
            color: $aqua;
            @include underscore ($aqua, 90%);
            text-shadow: none;
        }
    }
}

.hidden {
    position: absolute;
    left: -90000px;
}

.portfolio-project-name {
    text-align: center;
    font-size: rem(72);
    margin: 0 0 rem(20);
    letter-spacing: -.03rem;

    @media screen and (max-width:rem(800)) {
        font-size: rem(60);
    }

    @media screen and (max-width:rem(600)) {
        font-size: rem(50);
        margin: 0 0 rem(10);
    }

    @media screen and (max-width:rem(500)) {
        font-size: rem(36);
    }
}

.page-subhead {
    font-size: rem(22);
    text-align: center;
    margin: 0 0 rem(50) 0;
    line-height: 140%;
    color: $med;
    @media screen and (max-width:em(1120)) {
        margin: 0 rem(20) rem(30);
    }
    @media screen and (max-width:rem(500)) {
        font-size: rem(18);
        margin: 0 rem(10) rem(20);
    }
}

img {
    width: 100%;
}

svg {
    width: rem(20);
    height: rem(20);
}

.will-change-o {
    will-change: opacity;
}

.will-change-ot {
    will-change: opacity, transform;
}