$droid: 'Droid Serif', georgia, times, serif;
$sans: 'Ginger', helvetica, arial, sans-serif; 
$serif: 'Doves', georgia, times, serif;
$flair: 'Lavenderia', georgia, times, serif;

/* colors */
$body: #444;
$aqua:#2989a2;
$dark_aqua:darken(#4094aa, 20%);
$light_aqua:#9db9c1;
$x-light-aqua:#c9e1e8;
$haze:#F6F5F1;

$dark:#666;
$med:#999;
$light:#d0d0d0; 
